
.board{
  margin: auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap:wrap; */
  justify-content: center;
  align-content: center;
}
.button{
    height:56px;
    width:56px;
     margin: 2px;
    text-align: center; 
}
    